<div class="navbar">
    <div class="right">Logo</div>
    <div class="top">
        <div class="left">ABOUT</div>
       <div class="left">PROJECTS</div>
       <div class="left">PLAYGROUND</div>
       <div class="left">FAQ</div>
       </div>
       </div>
       <img src="../../assets/3747425.jpg" class="img-fluid" alt="Responsive image">
        
      
       <div class="text-block">
        <h1><br>DESIGNING<br> OTHERWORDLY<br> EXPERIENCES</h1>
           <p class="text">Join the journey to craft captivating UI/UX designs where everyixel narrates a story of innovation and inspiration.</p>
           <button type="button" class="btn btn-primary">LET'S CREATE TOGETHER -></button>
       </div>
       <div class="container">
        <div class="row">
            <div class="col-6">
        <img src="../../assets/co-workers-working-together-sketch.jpg" alt="" class="rounded float-left" width="400px" height="400px">
            </div>
        <div clas="col-6">
       <p class="rit">A laboratory is a facility that provides<br> controlled conditions in which scientific or<br> technological research, experiments,<br> and measurement may be performed.</p>
       </div> 
            
        </div>
       </div>
         
          
